@using Store.OshadBank.Areas.Oshadbank.Models
@using Store.OshadBank.Areas.Oshadbank.Controllers
@model ExampleModel
@{
    ViewData["Ttle"] = "Замовлення оплачено";
}

<h1>Замовлення оплачено</h1>

<p>
    Замовлення оплачено. Щоб завершити оформлення, натисніть <em>Далі</em>.
</p>

<form action="@Model.ReturnUri" method="post">
    <input type="hidden" name="serviceName" value="Oshadbank" />
    <input type="hidden" name="step" value="1" />
    <input type="hidden" name="values[orderId]" value="@Model.OrderId" />
    <button type="submit" class="btn btn-success">Далі</button>
</form>
