@model IReadOnlyDictionary<string, string>
@{
    ViewData["Title"] = "Спосіб доставки";
}

<h1>Спосіб доставки</h1>

<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post">
    <div class="form-group">
        <label for="code">Спосіб доставки</label>
        <select class="form-control" name="serviceName">
            @foreach (var method in Model)
            {
                <option value="@method.Key">@method.Value</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Далі</button>
</form>
@{
    for (int i = 0; i < 5; i++)
    {
        <div>
            <h1 class="text-center mt-5"><br /></h1>
        </div>
    }
}