@{
    ViewData["Title"] = "Замовлення оформлено";
}

<p>
    Замовлення оформлено. Незабаром воно буде зібране і передане до служби доставки.
    Очікуйте на SMS-повідомлення.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">Повернутися до магазину</a>
</p>
